.VIT
*.dcm

notebooks/*/*.png
build
.vitools
*.raw
*.air
*.offset
*.dcm
*.nii
*.prep
*.scan
*.json
*.cfg
*.csv
*.zip
notebooks/data
__pycache__
*.nrrd
*.nii
.vscode
.pytest_cache
src/VITools.egg-info
.ipynb_checkpoints
.env
*-BATCH_*
logs
core*
docs/_build